@font-face {
    font-family: 'amazing-neo';
    src:url("../fonts/amazing-neo.eot?bcb897f84253b30e915ac9c3e52f6dc7");
	src:url("../fonts/amazing-neo.eot?bcb897f84253b30e915ac9c3e52f6dc7#iefix") format("embedded-opentype"),
		url("../fonts/amazing-neo.woff2?bcb897f84253b30e915ac9c3e52f6dc7") format("woff2"),
		url("../fonts/amazing-neo.woff?bcb897f84253b30e915ac9c3e52f6dc7") format("woff"),
		url("../fonts/amazing-neo.ttf?bcb897f84253b30e915ac9c3e52f6dc7") format("truetype"),
		url("../fonts/amazing-neo.svg?bcb897f84253b30e915ac9c3e52f6dc7#amazing-neo-solid") format("svg");
    font-weight: normal;
    font-style: normal;
}

.an {
    font-family: "amazing-neo";
    display: inline-block;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.an-2x {
    font-size: 20px
}

.an-3x {
    font-size: 3em
}

.an-4x {
    font-size: 4em
}

.an-5x {
    font-size: 5em
}

.an-light {
    color: #ddd;
}
.an-address-card:before {content: "\f101";}
.an-airplane-alt:before {content: "\f102";}
.an-amazing-neo:before {content: "\f103";}
.an-angle-down:before {content: "\f104";}
.an-angle-left:before {content: "\f105";}
.an-angle-right:before {content: "\f106";}
.an-angle-up:before {content: "\f107";}
.an-arrow-alt-right:before {content: "\f108";}
.an-arrow-click:before {content: "\f109";}
.an-bars-left:before {content: "\f10a";}
.an-bars-right:before {content: "\f10b";}
.an-bars:before {content: "\f10c";}
.an-bell-alt:before {content: "\f10d";}
.an-bell:before {content: "\f10e";}
.an-book:before {content: "\f10f";}
.an-books:before {content: "\f110";}
.an-box-alt:before {content: "\f111";}
.an-box-check:before {content: "\f112";}
.an-box-up-fragile:before {content: "\f113";}
.an-boxes:before {content: "\f114";}
.an-brain:before {content: "\f115";}
.an-briefcase:before {content: "\f116";}
.an-browser:before {content: "\f117";}
.an-bullet:before {content: "\f118";}
.an-button:before {content: "\f119";}
.an-calculator-sign:before {content: "\f11a";}
.an-check-double:before {content: "\f11b";}
.an-check:before {content: "\f11c";}
.an-clock:before {content: "\f11d";}
.an-code-alt:before {content: "\f11e";}
.an-code:before {content: "\f11f";}
.an-cog-alt:before {content: "\f120";}
.an-comment-alt-exclamation:before {content: "\f121";}
.an-comment-alt-lines:before {content: "\f122";}
.an-credit-card-alt:before {content: "\f123";}
.an-crown:before {content: "\f124";}
.an-cursor-arrow:before {content: "\f125";}
.an-download:before {content: "\f126";}
.an-edit:before {content: "\f127";}
.an-ellipsis-v:before {content: "\f128";}
.an-envelope-alt:before {content: "\f129";}
.an-envelope-open-text:before {content: "\f12a";}
.an-envelope-open:before {content: "\f12b";}
.an-exclamation-alt:before {content: "\f12c";}
.an-exclamation-circle:before {content: "\f12d";}
.an-exclamation-triangle:before {content: "\f12e";}
.an-external-link-alt:before {content: "\f12f";}
.an-eye:before {content: "\f130";}
.an-facebook:before {content: "\f131";}
.an-feather:before {content: "\f132";}
.an-file-alt:before {content: "\f133";}
.an-file-check:before {content: "\f134";}
.an-file-edit:before {content: "\f135";}
.an-file-o:before {content: "\f136";}
.an-files-alt:before {content: "\f137";}
.an-flag:before {content: "\f138";}
.an-folder-alt:before {content: "\f139";}
.an-folder:before {content: "\f13a";}
.an-google:before {content: "\f13b";}
.an-hashtag:before {content: "\f13c";}
.an-hourglass:before {content: "\f13d";}
.an-lightbulb-on-alt:before {content: "\f13e";}
.an-link:before {content: "\f13f";}
.an-linkedin-in:before {content: "\f140";}
.an-list:before {content: "\f141";}
.an-location-arrow:before {content: "\f142";}
.an-lock:before {content: "\f143";}
.an-logout-alt:before {content: "\f144";}
.an-long-arrow-right-alt:before {content: "\f145";}
.an-long-arrow-right:before {content: "\f146";}
.an-magic:before {content: "\f147";}
.an-mastercard-card:before {content: "\f148";}
.an-microscope:before {content: "\f149";}
.an-moon:before {content: "\f14a";}
.an-music:before {content: "\f14b";}
.an-network:before {content: "\f14c";}
.an-paypal-card:before {content: "\f14d";}
.an-play-circle:before {content: "\f14e";}
.an-play:before {content: "\f14f";}
.an-plus:before {content: "\f150";}
.an-poll-h:before {content: "\f151";}
.an-puzzle-piece:before {content: "\f152";}
.an-quora:before {content: "\f153";}
.an-reply-all:before {content: "\f154";}
.an-rocket-art:before {content: "\f155";}
.an-save:before {content: "\f156";}
.an-search-engine:before {content: "\f157";}
.an-search-field-arrow:before {content: "\f158";}
.an-search-field:before {content: "\f159";}
.an-search:before {content: "\f15a";}
.an-section-2-7:before {content: "\f15b";}
.an-sensor:before {content: "\f15c";}
.an-share-alt:before {content: "\f15d";}
.an-sitemap:before {content: "\f15e";}
.an-sort-down:before {content: "\f15f";}
.an-sort-up:before {content: "\f160";}
.an-sort:before {content: "\f161";}
.an-star-alt:before {content: "\f162";}
.an-stripe-card:before {content: "\f163";}
.an-sun:before {content: "\f164";}
.an-tag:before {content: "\f165";}
.an-tags:before {content: "\f166";}
.an-textbox:before {content: "\f167";}
.an-thumbs-up-alt:before {content: "\f168";}
.an-thumbs-up:before {content: "\f169";}
.an-timeline-v:before {content: "\f16a";}
.an-times:before {content: "\f16b";}
.an-tools:before {content: "\f16c";}
.an-translate:before {content: "\f16d";}
.an-trash:before {content: "\f16e";}
.an-tv:before {content: "\f16f";}
.an-twitter:before {content: "\f170";}
.an-usd-sign:before {content: "\f171";}
.an-user-tie:before {content: "\f172";}
.an-user:before {content: "\f173";}
.an-video:before {content: "\f174";}
.an-visa-card:before {content: "\f175";}
.an-write-alt:before {content: "\f176";}
.an-write:before {content: "\f177";}
.an-youtube-alt:before {content: "\f178";}
.an-youtube-circle:before {content: "\f179";}
.an-youtube-square:before {content: "\f17a";}
.an-youtube:before {content: "\f17b";}

.an-shrink {
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes pulse-shrink {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse-shrink {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.an-spin {
    -webkit-animation: an-spin 2s infinite linear;
    animation: an-spin 2s infinite linear;
}

.an-pulse {
    -webkit-animation: an-spin 1s infinite steps(8);
    animation: an-spin 1s infinite steps(8);
}

@-webkit-keyframes an-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes an-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.an-rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.an-rotate-180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.an-rotate-270 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.an-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.an-flip-vertical {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .an-flip-horizontal,
:root .an-flip-vertical,
:root .an-rotate-180,
:root .an-rotate-270,
:root .an-rotate-90 {
    filter: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.icons-wrap {
    width: 100%;
    height: 235px;
    overflow-y: auto;

    .icons-list {
        li {
            margin: 0.5%;
            display: inline-block;

            .tool-icon-select {
                border: 0;
                background-color: transparent;
                padding: .25rem;

                &:hover {
                    i {
                        transform: scale(1.5);
                    }
                }

                i {
                    font-size: 32px;
                    position: relative;
                    transition: all 0.2s ease-in-out;
                }

                span {
                    display: none;
                    font-size: 16px;
                }
            }

        }
    }
}
